In [1]:
import pandas as pd

file_path = "flight_data_2024.csv"

# 只读取前100行，看看列名，不会卡
df_head = pd.read_csv(file_path, nrows=100)
df_head.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,1,1,1,2024-01-01,9E,4814.0,JFK,"New York, NY",New York,...,0,136.0,122.0,84.0,509.0,0,0,0,0,0
1,2024,1,1,1,2024-01-01,9E,4815.0,MSP,"Minneapolis, MN",Minnesota,...,0,130.0,114.0,88.0,622.0,0,0,0,0,0
2,2024,1,1,1,2024-01-01,9E,4817.0,JFK,"New York, NY",New York,...,0,106.0,90.0,61.0,288.0,0,0,0,0,0
3,2024,1,1,1,2024-01-01,9E,4817.0,RIC,"Richmond, VA",Virginia,...,0,111.0,76.0,51.0,288.0,0,0,0,0,0
4,2024,1,1,1,2024-01-01,9E,4818.0,DTW,"Detroit, MI",Michigan,...,0,79.0,70.0,45.0,237.0,0,0,0,0,0

In [5]:
import pandas as pd

file_path = "flight_data_2024.csv"

df = pd.read_csv(file_path, usecols=use_cols, low_memory=False)

df.shape

(7079081, 18)

In [6]:
# Step 2: 根据条件过滤掉异常值

df_clean = df[
    (df["cancelled"] == 0) &
    (df["diverted"] == 0) &
    (df["arr_delay"] < 1000) &
    (df["dep_delay"] > -60) &
    (df["distance"] > 0) &
    (df["crs_elapsed_time"] > 0) &
    (df["actual_elapsed_time"] > 0) &
    (df["air_time"] > 0) &
    (df["taxi_in"] > 0) & (df["taxi_in"] < 120) &
    (df["taxi_out"] > 0) & (df["taxi_out"] < 300)
]

df_clean.shape

(6961101, 18)

In [7]:
df_clean.to_csv("flight_data_2024_cleaned.csv", index=False)

In [21]:
delay_rate = (df_clean['arr_delay'] > 15).mean()
delay_rate

np.float64(0.20100656490977506)